@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color:black;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container{
    width:500px;
    height:750px;
    border-radius: 5px;
    border:1px solid black;
    position: relative;
}

.header-text{
    text-align: center;
    font-size: 40px;
}

.username-input{
    margin-left: 30px;
    margin-top: 30px;
}

.username-input input{
    width:400px;
    padding: 5;
    border: none;
    border-bottom: 1px solid black;
    transition: all 0.8s;
}

.username-input input:focus{
    outline: 0;
}

.username-information-text{
    margin-left: 30px;
    margin-top: 20px;
}

.password-input{
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
}

.password-input input{
    width:400px;
    padding: 5;
    border: none;
    border-bottom: 1px solid black;
    transition: all 0.8s;
}

.password-information-text{
    margin-top: 10px;
    margin-left: 30px;
}

.password-input input:focus{
    outline: 0;
}

.password-again-input {
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
}
#gender-label{
    margin-left: 30px;
    margin-top: 20px;
}
#gender-selection{
    margin-left: 30px;
    margin-top: 10px;
}

.birth-date-input{
    margin-left: 30px;
    margin-top: 10px;
}

.dontforgetme-input{
    margin-left: 30px;
    margin-top: 10px;
}

.submit-button{
    margin-left: 30px;
}

.submit-button button{
    width:95%;
    height:40px;
    background-color: #313a43;
    color:white;
    cursor: pointer;
    transition: all .8s;
}



.visibility-image{
    position: absolute;
    width:34px;
    bottom:10px;
    height:34px;
}

#password-again-input {
    border: none;
    border-bottom: 1px solid black;
    width:80%;
}

#password-again-input:focus{
    outline: 0;
}