@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color:black;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.container{
    width:500px;
    height:600px;
    border-radius: 5px;
    border:1px solid black;
    position: relative;
}

.container>*{
    margin-left:30px;
}

.header-text{
    font-size:40px;
    text-align: center;
    margin-left: 0px;
}

input:focus{
    outline: 0;
}

#username-input{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
}