@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color:black;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.container{
    width:450px;
    height:480px;
    border-radius: 5px;
    border:1px solid black;
    position: relative;
}

.container>*{
    margin-left:30px;
}

.header-text{
    font-size:40px;
    text-align: center;
    margin-left: 0px;
}

input:focus{
    outline: 0;
}

#username-input{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}

.password-input{
    margin-top: 20px;
}
#password-input{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}

.forget-checkbox{
    margin-top: 20px;
}

#submit-button{
    position: absolute;
    width: 90%;
    height:50px;
    background-color: rgb(48, 47, 47);
    color:white;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.4s;
}

#submit-button:hover {
    transition: 0.5;
}

.visibility-image{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 150px;
    cursor: pointer;
}