@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color:black;
}
body {
    background-image: url("../img/arkaplan.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: end;
    display: flex;
    justify-content: end;
    align-items: end;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
}

.navbar{
    width: 100%;
    height:100px;
    background:rgb(230, 242, 255);
    transition: all 1s;
    opacity: 0.9;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;

    gap:20px;
    margin-right: 50px;
}

.navbar ul li{
    padding: 10px;
    padding-top: 40px;
    transition: all 0.5s;
}

.navbar ul li:hover{
    transform: scale(1.2);
}

#logo-image{
    position: absolute;
    width:270px; /*140*/
    height:100px; /*70*/
    top:0px;
    left:160px;
}