<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>
<body>
    <nav id="navbar" class="navbar">
        <img src="../static/img/logo_c.png" alt="Logo" id="logo-image">
        <ul id="navbar-ul">
            {% if loged_in==False %}
                <li class="navbar-list-item" id="create-account">
                    <a href="/create-account">Hesap Oluştur</a>
                </li>
            {% endif %}
            <li class="navbar-list-item" id="login">
                <a href="/login">Giriş Yap</a>
            </li>
            {% if loged_in %}
                <li class="navbar-list-item" id="profile">
                    <a href="#">Profil</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <p>Hoşgeldiniz!</p>
    <span class="line-break">Mesajınızı göndermek için hesap oluşturun</span>
    <br>
    <span class="span2">veya giriş yapınız.</span>
    <div class="button-container">
        <div class="button"><a href="/create-account">Hesap Oluştur</a>
    </div>
    <br>
    <div class="button-container2">
        <div class="button2"><a href="/login">Giriş Yap</a>
    </div>
</body>
</html>