<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>
<body>
    <form action="/home/" method="POST" id="form">
        <div class="container">
            <div class="header-text">Giriş Yap</div>
            <div class="username-input">
                <label for="username">Kullanıcı Adınız</label><br>
                <input type="text" name="username" id="username-input" required autocomplete="off">
            </div>
            <div class="password-input">
                <label for="password">Şifreniz</label><br>
                <input type="password" name="password" id="password-input" required autocomplete="off">
                <img src="../static/img/visibility.png" alt="Visibility" class="visibility-image">
            </div>
            <br>
            <div class="forget-checkbox">
                <label for="remember-me">Beni hatırla</label>
                <input type="checkbox" id="remember-me" name="remember-me">
            </div><br><br><br>
            <div class="submit-button" name="submit-button"><button type="submit" name="submit-button" id="submit-button" href="/home">Giriş Yap</button></div>
        </div>
    </form>

    <script src="../static/js/login.js"></script>
</body>
</html>