<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>
<body>
    <form action="" method="POST">
        <div class="container">
            <div class="header-text">Giriş Yap</div>
            <div class="username-input">
                <label for="username">Kullanıcı Adınız</label><br>
                <input type="text" name="username" id="username-input" required autocomplete="off">
            </div>
            <div class="password-input">
                <label for="password">Şifreniz</label><br>
                <input type="text" name="password" id="password-input" required autocomplete="off">
            </div>
        </div>
    </form>
</body>
</html>